$gray-1: #444;
$gray-2: #999;
$gray-3: #ddd;

$main-1: #1d2618;
$main-2: #3d5133;
$main-3: #516b44;

$white: #fff;

$bg-1: #f8f9f9;

$text-1: #444;

$mobile-max-width: 768px;
$tablet-max-width: 1024px;
